@media(max-width:1130px){
    .section_information_NFT {
        display: flex;
        gap: 30px;
    }
}
@media(max-width:1063px){
    .section_information_NFT {
        flex-wrap: wrap;
        justify-content: center;
    }
    .block_load_window {
        margin-left: 0;
    }
}
@media(max-width:800px){
    .title_page-Creator {
        font-size: 50px;
    }
}
@media(max-width:600px){
    .title_page-Creator {
        font-size: 40px;
    }
    .section_title_page-Creator {
        margin-bottom: 20px;
    }
    .input_Name {
        width: 300px;
        font-size: 18px;
    }
    .input_Description {
        width: 300px;
    }
    .choice_block{
        flex-wrap: wrap;
    }
    .block_information_NFT_Stock {
        margin: 0px 0px -10px 140px;
    }
    .toggle{
        top: 40px;
        left: -60px;
    }
    .toggle_two{
        top: 40px;
        left: 30px;
    }
    #load_window{
        width: 300px;
        height: 300px;
        text-align: center;
        padding: 15px;
    }
}
@media(max-width: 440px){
    .title_page-Creator {
        font-size: 28px;
    }
    .information_NFT {
        font-size: 20px;
    }
    .toggle{
        top: 40px;
        left: -130px;
    }
    .toggle_two{
        top: 40px;
        left: -35px;
    }
}
