@media(max-width:1076px){
    .footer_information{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 150px;
    }
    .block_about_us,
.block_support{
    margin-left: 0;
}
}
@media(max-width: 899px){
    .footer_information{
        gap: 50px;
    }
}
@media(max-width:719px){
    .footer_information{
        gap: 70px;
    }
}
@media(max-width:500px){
    .information_logo {
        margin-bottom: 100px;
        width: 112px;
    }
    .content_text{
        font-size: 16px;
    }
    .list_link a {
        font-family: Work Sans;
        font-size: 16px;
    }
}

